html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: "Poppins", system-ui;
    background-color: #313131;
}
#getReady{
    position: absolute;
    width: 100vw;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}
.buttonsStart{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 85%;
}
h1{
    text-align: center;
    font-size: 5vw;
    color: white;
    margin-bottom: 2%;
}
h2{
    text-align: center;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 0;
}
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
button{
    font-size: 1.4vw;
    font-weight: bold;
    padding: 1.5vw;
    border: none;
    border-radius: 4vw;
    background-color: #df5917;
    color: white;
    cursor: pointer;
}
#targets{
    position: absolute;
    display: none;
    width: 3vh;
    height: 10vh;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    box-shadow: none !important;
    z-index: 15;
}
.checkCircle{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vw;
    height: 2.3vw;
    z-index: 15;
}
.checkCircle p{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    z-index: 15;
}
#attack{
    top: 51%;
    left: 10%;
}
#vitality{
    top: 47%;
}
#defend{
    top: 51%;
    left: 90%;
}
#cost{
    top: 18%;
    left: 10%;
}
#target1, #target2, #target3 {
    height: 100%;
    box-shadow: none !important;
}
#findRoomButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.game{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.ui{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10;
}
.basicInfo, .oponentInfo{
    position: absolute;
    top: 92vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14vh;
    height: 12vh;
    z-index: 15;
}
.oponentInfo{
    top: 8vh;
}
#avatar, #oponentAvatar{
    width: 100%;
    height: 100%;
}
#sources, #oponentSources{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 5vh;
    font-weight: bold;
    color: white;
    z-index: 15;
    -webkit-text-stroke: 0.2vw rgb(0, 0, 0);
}
.coinFlip{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}
.coin img{
    width: 100%;
    height: 100%;
}
@keyframes coinFlip {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.coin {
    width: 8vw;
    height: 7vw;
    position: absolute;
    top: -10vw;
    left: 50%;
    transform: translate(-50%, 0%);
}
#coinImage{
    animation: coinFlip 0.5s infinite;
    backface-visibility: hidden;

}

.library{
    display: none;
    position: absolute;
    top: 72vh;
    margin-left: 5%;
    height: 23vh;
    z-index: 1;
}
#library, #grave{
    height: 100%;
    width: 45%;
}
.cardInHand{
    height: 12vw;
    width: 9vw;
    z-index: 5;
}
.hand{
    position: absolute;
    top: 100vh;
    left: 46%;
    z-index: 5;
}


.endScreen{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: #313131;
    border-radius: 2vw;
    z-index: 15;
}
.endScreen h1{
    font-size: 4.5vw;
    font-weight: bold;
    margin: 0;
    padding: 2vw;
    color: white;
}
.endScreen p{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 2vw;
    color: white;
}
.endScreen button{
    display: flex;
    margin: auto;
    top: 50%;
    left: 50%;
}
.help{
    position: absolute;
    top: 2vw;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: 15;
    background-color:#df5917;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
}
.help:hover {
    cursor: pointer;
}
.container{
    position: absolute;
    top: 70vh;
    font-size: 1.1vw;
    z-index: 0;
    background-color: #df5917;
    border-radius: 2vw;
    padding: 0vw 1vw;
}
.mulliganButtons{
    display: flex;
    margin: auto;
    width: 85%;
}
.help h2{
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 1vw;
    color: white;
}
.help ul{
    position: absolute;
    margin: 0;
    padding: 2%;
    border-radius: 2vw;
    width: 20vw;
    top: 4.6vw;
    display: none;
    list-style-type: none;
    background-color: #df5917;
}
.help ul li{
    padding: 2%;
    font-size: 1.2vw;
}
.help ul li:hover{
    background-color: #313131;
    cursor: pointer;
    border-radius: 2vw;
}

table{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    z-index: 0;
    transform: translate(-50%, -55%);
}
.board table tr td img{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 0.3vw white;
}
.filled-zone{
    box-shadow: inset 0 0 0 0.3vw white;
}
tr{
    display: inline-flex;
}
.target{
    box-shadow: none !important;
}
.board table tr{
    margin: 0;
    height: 6.5vw;
    padding: 0;
}
.board table tr td{
    width: 7.5vw;
    height: 9.5vw;
    margin: 0 2vw;
    padding: 1%;
    transform: rotate(90deg);
}
.check{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0, -70%);
    width: 16vw;
    height: 22vw;
}
.check img{
    width: 100%;
    height: 100%;
}

.mulligan{
    display: none;
    z-index: 25;
    width: 30%;
}
.mulligan h2{
    z-index: 30;
    position: absolute;
    top: 1.2vw;
    left: 17%;
    width: 30%;
}